<div th:fragment="header"
     style=" padding: 0px 10px;
background-color: #ddf1c3;
opacity: 85%;">

    <div style="display: flex;
    align-items: center;
    justify-content: space-between;">

        <a href="/hhh" style="padding: 0px 20;"> <span><img src="https://psv4.userapi.com/c240331/u80147306/docs/d44/1b92fd86f33a/logo.png?extra=NJgxy-g6SMIPPWK1wTzQLpr1MheYJl9_6ASZ_7f0WqsiUSKU93o6qHZkZljqTmVIfCaEiGu4CTfnZpQYDdc8uD4KAkUCGQzOKx4ML8POYhoe-GRGrq0XltZeQZxoJAALPxSZAh0cNmOFEjRHchAe8zjuJQ" alt="Fresh all logo" style="padding: 0px 20;"></span></a>

        <nav style="border: 1px solid #e7e7e7;">
            <ul style="    display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px;
            padding: 20px;
            list-style-type: none;">

                <li style=" list-style-position: inside;
                padding: 20px; display: inline-block;
    padding: 0px 50px;
    margin: 0;
    border-left: 3px solid #134f24;">

                    <a href="/about" style=" color: #0b3716; text-decoration: none;
                    font-family: 'Rubik';
                    font-style: italic;
                    font-size: 25px;">О нас</a>
                </li>

                <li style=" list-style-position: inside;
                padding: 20px;  display: inline-block;
    padding: 0px 50px;
    margin: 0;
    border-left: 3px solid #134f24;">

                    <a href="/product" style=" color: #0b3716; text-decoration: none;
                    font-family: 'Rubik';
                    font-style: italic;
                    font-size: 25px; ">Наш продукт</a>
                </li>

                <li style=" list-style-position: inside;
                padding: 20px;  display: inline-block;
    padding: 0px 50px;
    margin: 0;
    border-left: 3px solid #134f24;">

                    <a href="/partners" style=" color: #0b3716; text-decoration: none;
                    font-family: 'Rubik';
                    font-style: italic;
                    font-size: 25px;">Наши партнеры</a>
                </li>

                <li style=" list-style-position: inside;
                padding: 20px;  display: inline-block;
    padding: 0px 50px;
    margin: 0;
    border-left: 3px solid #134f24;">

                    <a href="#" style=" color: #0b3716; text-decoration: none;
                    font-family: 'Rubik';
                    font-style: italic;
                    font-size: 25px;">Контакты</a>
                </li>

                <li style=" list-style-position: inside;
                padding: 20px;  display: inline-block;
    padding: 0px 50px;
    margin: 0;
    border-left: 3px solid #134f24;">

                    <a href="#" style=" color: #0b3716; text-decoration: none;
                    font-family: 'Rubik';
                    font-style: italic;
                    font-size: 25px;">RU/US</a>
                </li>
            </ul>
        </nav>
    </div>
</div>




